* {
    box-sizing: border-box;
    color: white;
}

p,
h1,
h2,
a,
li,
ul,
figcaption {
    font-family: 'Open Sans', sans-serif;
}

p,
ul,
li,
figcaption {
    font-size: 0.8em;
}

h1 {
    color: var(--textf);
    font-size: 3.3em;
    text-transform: uppercase;
    margin-left: 10px;
    width: 58vw;
    font-weight: 700;
    text-align: right;
}

h2 {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 0;
}

bb1 {
    color: var(--co1);
}

bb2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    color: var(--co2);
}

bb3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: var(--co4);
    text-transform: lowercase;
}

bb4 {
    border-bottom: 1px solid var(--co1);
    color: black;
}

a {
    text-decoration: none;
}