* {
    box-sizing: border-box;
    color: white;
}

p,
h1,
h2,
a,
li {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 0.8em;
}

h1 {
    color: var(--textf);
    font-size: 4em;
    text-transform: uppercase;
    margin-left: 10px;
    width: 58vw;
    font-weight: 700;
    text-align: right;
}

bb1 {
    color: var(--co1);
}

a {
    text-decoration: none;
}