:root {
  --black: #1b1a1a;
  --white: #fafafa;
  --blackgrey: #181818;
  --co1: #3cb9e7;
  /* bleu clair */
  --co2: #0b4e9f;
  /* bleu foncé */
  --co3: #fbd50e;
  /* jaune */
  --co4: #dda0bf;
  /* rose */
  --textc: #242424;
  --textf: #ffff;
}