:root {
  --white: #ffffff;
  --black: #1b1a1a;
  --blackgrey: #181818;
  --co1: #f6b496;
  /* orange clair */
  --co2: #8d2a2a;
  /* rouge foncé */
  --co3: #4D536C;
  /* bleu foncé */
  --co4: #B6BADE;
  /* bleu clair */
  --grey: #808180;
  --text: #242424;
}