.bottom {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

    p {
        font-size: 0.7em;

        @include medium {
            font-size: 0.9em;
        }
    }
}

.bottom__description {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    @include medium {
        font-size: 1em;
    }

    li {
        padding: 2px;
    }

    a {
        color: var(--co1);
        font-weight: 800;
        transition: all 0.5s;
    }

    a:hover {
        color: var(--co4);
    }
}