.clip {
    min-height: 100vh;
    background-color: black;
}

.clip__informations {
    height: 33.3vh;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.4s;
    background-position: center;
}

.clip__informations:hover {
    filter: grayscale(0);
}

.clip__informations--title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    padding: 5px;

    @include medium {
        font-size: 1.3em;
    }
}

.clip__informations--artist {
    font-size: 0.8em;
    padding: 5px 5px 10px 5px;
    transition: all 1s;
    color: var(--co4);
    text-transform: uppercase;
    font-weight: bold;
}

.clip__informations:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--co1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.clip__informations:hover:after {
    width: 100%;
    left: 0;
}

.clip__informations--redirection a {
    padding: 6px 10px;
    text-transform: uppercase;
    color: var(--co1);
    font-size: 0.7em;
    background-color: white;
    transition: all 0.4s;
    letter-spacing: 1px;
}

.clip__informations--redirection a:hover {
    background-color: var(--co1);
    color: white;
}