.group {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white);
}

.group__information {
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    height: 70vh;
    max-width: 50vw;
}

.group__information--title {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
    color: black;
}

.group__information--text {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 10px;
    font-size: 0.8em;
    text-align: justify;
}

.group__information--text:last-child {
    background-color: var(--black);
    color: white;
}

.group__image {
    max-width: 40vw;
    max-height: 100vh;
    object-fit: cover;
}