.group {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: var(--white);
    height: auto;

    @include medium {
        min-height: 50vh;
    }
}

.group__information {
    display: flex;
    flex-direction: column;
    max-width: 90vw;

    @include medium {
        max-width: 55vw;
    }
}

.group__information--title {
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px 0;
    color: black;

    @include medium {
        font-size: 1.2rem;
    }
}

.group__information--text {
    color: black;
    margin: 10px;
    font-size: 0.8em;
    text-align: justify;

    @include medium {
        font-size: 0.9em;
    }
}

.group__information--text:last-child {
    background-color: var(--black);
    color: white;
    padding: 15px;
    margin-bottom: 20px;

    @include medium {
        padding: 25px;
    }
}

.group__image {
    max-width: 40vw;
    max-height: 100vh;
    object-fit: cover;
}