.home {
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.home__video {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    max-height: 100vh;
    object-fit: cover;
}

.home__all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.top {
    min-height: 25vh;
    align-items: flex-start;
}

.top__all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--textf);
}

.top__all--img {
    width: auto;
    height: 6vh;

    @include medium {
        height: 7vh;
        margin-left: 10px;
    }
}

.top__all li {
    padding: 5px 5px;
    text-align: center;
}

.top__all li:nth-child(2) {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.4em;

    @include medium {
        font-size: 2em;
        padding: 0 30px;
    }
}

.fas {
    font-size: 2em;
}

.index__title {
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.index__summary {
    min-height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: 3px solid var(--co1);

    li {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 1em;
        transform: all 1s;
    }

    li a {
        transition: all 0.6s;
    }

    li a:hover {
        color: var(--co1);
    }
}